html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Varela Round', sans-serif;
}

img {
    max-width: 100%;
}

header img{
    justify-content: calc((100%)/2 - 120rem);
}

h1 {
    font-size:xx-large;
    font-weight:lighter;
}

h2{
    font-size: medium;
    font-weight: lighter;
}


.container .boton a{
    text-decoration: none;
    color: white;
    padding: 1rem 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

/*  
.container{
    justify-content: center;
    max-width: 100rem;
    margin: auto;
}
*/
#presentacion{
    display: flex;
    height: 55rem;
    width: 100%;
    margin: auto;
    background: url(../Img/bg-seccion1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Texto_1{
    position: absolute;
    left: 20%;
    top: 12rem;
}

.Texto_2{
    position: absolute;
    left: 20%;
    top: 16rem;
}

.boton{
    display: flex;
    border-color: transparent;
    margin: 5rem;
    padding: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.boton_1{
    position: absolute;
    left: 20%;
    top: 25rem;
    background: rgb(198, 42, 42);
}

.boton_2{
    position: absolute;
    left: 50%;
    top: 25rem;
    background: rgb(198, 42, 42);
}



#oferta .container{
    max-width: 90rem;
    margin: 2rem auto;
    list-style: none;
}

footer{
    background: #1f1f1f;
    color: #ffffff;
}

.textos-oferta{
    margin: 5rem;
}

@media (min-width: 720px) {
    .dos_columnas{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        text-align: center;
    }

    .boton_1{
        position: absolute;
        left: 20%;
        top: 25rem;
        background: rgb(198, 42, 42);
    }
    
    .boton_2{
        position: absolute;
        left: 35%;
        top: 25rem;
        background: rgb(198, 42, 42);
    }
}

@media (min-width: 1440px){
    .dos_columnas{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        text-align: center;
    }

    .boton_1{
        position: absolute;
        left: 20%;
        top: 25rem;
        background: rgb(198, 42, 42);
    }
    
    .boton_2{
        position: absolute;
        left: 28%;
        top: 25rem;
        background: rgb(198, 42, 42);
    }
}
