html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Varela Round', sans-serif;
}
img {
    max-width: 100%;
}

header img{
    justify-content: calc((100%)/2 - 120rem);
}

h1 {
    font-size: 40rem;
    font-weight:lighter;
}

.container .boton a{
    text-decoration: none;
    color: white;
    padding: 1rem 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.boton{
    background: rgb(198, 42, 42);
    border-color: transparent;
    padding: 1rem;
    margin: 5rem;
}

.container{
    max-width: 100rem;
    margin: 2rem auto;
    
}
  
#presentacion{
    max-width: 100rem;
    height: 55rem;
    margin: auto;
    background: url(../Img/bg-seccion1.png);
}

.textos-oferta{
    justify-content: center;
    text-align: center;
}

#oferta .container{
    max-width: 90rem;
    margin: 2rem auto;
}